.contacts-container {
    margin: 20px auto;
}

@media screen and (min-width: 400px) {
    .contacts-container {
        max-width: 80%;
    }
}

@media screen and (min-width: 600px) {
    .contacts-container {
        max-width: 70%;
    }
}

@media screen and (min-width: 900px) {
    .contacts-container {
        max-width: 600px;
    }
}
