.gallery-container {
    text-align: center;
}

.gallery-item {
    --item-size: calc(100vw / 2 - 15px);
    display: inline-block;
    overflow: hidden;
    height: var(--item-size);
    width: var(--item-size);
    max-width: 250px;
    max-height: 250px;
}

.gallery-item-photo {
    object-fit: cover;
    height: calc(var(--item-size) * 2);
    width: calc(var(--item-size) * 2);
    margin-left: calc(var(--item-size) / 2 * -1);
    margin-top: calc(var(--item-size) / 2 * -1);
}

@media screen and (min-width: 400px) {
    .gallery-item {
        --item-size: calc(100vw / 3 - 10px);
    }
}

@media screen and (min-width: 600px) {
    .gallery-item {
        --item-size: calc(100vw / 4 - 10px);
    }
}

@media screen and (min-width: 900px) {
    .gallery-item {
        --item-size: calc(100vw / 5 - 10px);
    }
}

@media screen and (min-width: 1200px) {
    .gallery-item {
        --item-size: calc(100vw / 7 - 10px);
    }
}
