.gallery-item-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
}

.icon-light-gray-circle:hover,
.icon-light-gray-poly:hover {
    cursor: pointer;
}

.icon-light-gray-circle:hover > circle,
.icon-light-gray-poly:hover polygon,
.icon-light-gray-poly:hover path {
    fill: var(--icon-dark-background-color);
}

.gallery-item-mid {
    max-width: 70%;
    position: relative;
}
.gallery-item-mid img {
    max-width: 100%;
}
.gallery-item-info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.gallery-item--visible {
    visibility: visible;
}
.gallery-item-info span {
    color: var(--font-color-inversed);
    font-weight: bold;
    width: 50%;
}
.gallery-item-info-row {
    display: flex;
}

.gallery-item-side {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.gallery-item-side-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-basis: 80px;
}
.gallery-item-side-mid {
    display: flex;
    flex-grow: 2;
}
.gallery-item-side-mid svg {
    align-self: center;
}
.gallery-item-bottom {
    text-align: center;
    width: 100%;
}

svg {
    overflow: visible;
    z-index: 1;
}
.icon-tooltip {
    font-size: 0.8em;
    fill: var(--tooltip-font-color);
    visibility: hidden;
}

.icon-light-gray-circle:hover > .icon-tooltip,
.icon-light-gray-poly:hover > .icon-tooltip {
    visibility: visible;
}

@media screen and (min-width: 400px) {

}

@media screen and (min-width: 600px) {
    .gallery-item-container {
        width: 70%;
    }
    .gallery-item-mid {
        max-width: 80%;
    }
}
@media screen and (min-width: 900px) {
    .gallery-item-container {
        width: 50%;
        max-width: 600px;
    }
}
