/* @font-face by https://www.1001fonts.com/ */
@font-face {
    font-family: "Open Sans Light";
    src: url("OpenSans-Light.eot?") format("eot"),
        url("OpenSans-Light.woff") format("woff"),
        url("OpenSans-Light.ttf") format("truetype"),
        url("OpenSans-Light.svg#OpenSans-Light") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Helen Bg Light";
    src: url("Helen Bg Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap&subset=cyrillic");

* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    font-family: "Helen Bg Light", "Open Sans Light", "Open Sans", sans-serif;
    color: var(--font-color-default);
    font-size: 17px;
    line-height: 20px;
    margin: 0;
}

:root {
    /* Palette colours */
    --color0: #fff;
    --color1: #000;
    --color2: #e5e9f2;
    --color3: #999;
    --color4: #DEDFE0;
    --color5: #74D0EF;
}

body.light-theme {
    --font-color-default: var(--color1);
    --font-color-inversed: var(--color0);
    --icon-dark-background-color: var(--color3);
    --border-color: var(--color2);
    --tooltip-font-color: var(--color5);
}

a {
    text-decoration: none;
}

main {
    padding: 10px;
}

p {
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
}

.header-container {
    padding: 10px;
}
.header-row-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-row-bottom {
    margin-top: 20px;
}

.header-hamburger {
    padding: 10px;
    width: 50px;
    fill: var(--icon-dark-background-color);
}
.header-navigation {
    align-items: center;
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
    width: 100%;
}
.header-navigation--open {
    display: inline-flex;
}

.navigation-link {
    min-width: 70px;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .header-hamburger {
        display: none;
    }
    .header-navigation {
        display: inline-flex;
        margin-top: initial;
        width: initial;
    }
}
